*{
    margin: 0px;
    padding: 0px;
}

.MainContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom,#6be0c3, #385579,rgb(4, 4, 88)); 
}


.formcontainer{
    box-shadow: 2px 5px 10px rgb(21, 37, 40);
    height: 500px;
    width: 400px;
    border-radius: 10px;
    padding: 50px;
    background-color: white

}

.logintext{
   
    display: flex;
    justify-content: center;
    margin: 50px 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;

}

label{
  
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

input{
    margin: 10px;
    border-style: none;
    border-bottom: 1px solid gray;
    padding: 10px;
}


.forgotpassword{
    text-align: end;
}

.loginbtn{
display: flex;
border: 1px solid black;
justify-content: center;

}
.loginbtn button{
    border-radius: 6px;
    height: 30px;
    width: 100px;

}