*{
    margin: 0px;
    padding: 0px;
}
h1{
    
  border: 2px solid black;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 40px;
  margin: 50px 10px 40px 30px;
  padding: 10px;
  padding: 30px 20px 10px ;
  height: 200px;
  width: 100px;

  

}

h2{
    margin: 50px;
    border: 1px solid black;
}




